@import '../../index.scss';
@import '../home-page/home-page.scss';

.country-back-image {
  width: 50vw !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.country-image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.country-image-caption {
    color: $primary;
    position: absolute;
    text-align: center;
    background:$back-80;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    align-self: flex-end;
}
.destination-text {
  padding: 0px 100px 50px 100px;
  color:$secondary-90;
  font-size: xxx-large;
}

.destination-line {
 
}

.cover-image {
  height: 40vh;
  width: 100%;
  padding: 0;
  // clip-path:  polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 100%, 84% 100%, 71% 81%, 29% 81%, 16% 100%, 0 100%);
  margin: 0;
}


.destination-header { 
  color:$primary;
  font-size: xxx-large;
  font-weight: 800;
  margin: 0 !important;
  margin-top: 15px !important;
  text-transform: capitalize !important;
  padding: 20px 30px 0px 30px;
  
}