@import './../../index.scss';
html, body {
    min-height: 100%;
}
.custom-carousel {
    height: auto;
    vertical-align: middle;
    margin: auto !important;
}
.base-carousel-style { 
    padding: 0;
    margin: 0;
    height: 100vh;
}
p {
    padding: 0;
    margin:0;
}
.carousel-outer-container {
    width: 100% !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.carousel-content {
    background-color: $back-70;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    text-align: center;
}
@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}
.custom-carousel-caption {
    background-color: $back-70;
    // padding: 5%;
    margin-top:0px;
    margin-bottom: 30vh;
}
.carousel-header {
    font-size: x-large;
}
.carousel-animation {
    color: $primary;
    animation: carousel-entry 1s linear 0s 1;
    -webkit-animation:carousel-entry 1s linear 0s 1;
}
@-webkit-keyframes carousel-entry {
    0% {opacity: 0;}
    60% {opacity: 0;} 
    100% {opacity: 0.8;}
}
@keyframes carousel-entry {
    0% {opacity: 0;}
    60% {opacity: 0;} 
    100% {opacity: 0.8;}
}
.section-header {
    color: $primary;
    font-size: 24pt;
}
.section-text {
    color: $secondary;
}
.col-section {
    background-color: $default-30 !important;
    margin:20px;
    padding: 20px;
    width: 100%;
}
.row-section {
    display: flex;
}
.even-row {
    background: $primary;
    border: none;
    outline: none;
    border-radius: 0px;
}
.card-style { 
    background: $back;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 0px;   
    padding: 0 !important;
}
.antd-card-body {
    padding: 0 !important;
}
.ant-card .ant-card-body { 
    padding: 0 !important;
}

.odd-row { 
    background: $back;
    border: none;
    outline: none;
    border-radius: 0px;
}
.image-container{
    border: 25px solid $default;
    background-color:  $default;
    margin:5px;
    text-align: center;
    color: $font;
    height: 95%;
}
.image-gallery {
    position: inherit;
    height: 80%;
    width: 100%;
}
.image-caption {
    padding-top: 10%;
    vertical-align: middle;
    //background-color: $font;
    //border: 5px solid $font;
    font-size: 16pt;
    font-weight: bolder;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.testimonial-carousel {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
}
.testimonial-carousel-caption {
    position: relative;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 2px dashed $primary;
    margin: 20px;
    width: 68%;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    height: auto;
}
.testimonial-carousel-header {
    text-align: right;
    width: 100%;
    padding-right: 50px;
    
}
.testimonial-carousel-image {
    height: 20vh;
    margin: 0;
    padding: 0;
}
.testimonial-carousel-item {
    width: 100%;
}

.container-true {
    background: $back !important;
}
