$primary : #D7B56D;// - Gold
$primary-10 : rgba(215,181,109,0.1);
$primary-20 : rgba(215,181,109,0.2);
$primary-30 : rgba(215,181,109,0.3);
$primary-40 : rgba(215,181,109,0.4);
$primary-50 : rgba(215,181,109,0.5);
$primary-60 : rgba(215,181,109,0.6);
$primary-70 : rgba(215,181,109,0.7);
$primary-80 : rgba(215,181,109,0.8);
$primary-90 : rgba(215,181,109,0.9);
$primary-100 : rgba(215,181,109,1);

$secondary : #785C20;// - Deep Gold
$secondary-10 : rgba(120,92,32,0.1);
$secondary-20 : rgba(120,92,32,0.2);
$secondary-30 : rgba(120,92,32,0.3);
$secondary-40 : rgba(120,92,32,0.4);
$secondary-50 : rgba(120,92,32,0.5);
$secondary-60 : rgba(120,92,32,0.6);
$secondary-70 : rgba(120,92,32,0.7);
$secondary-80 : rgba(120,92,32,0.8);
$secondary-90 : rgba(120,92,32,0.9);
$secondary-100 : rgba(120,92,32,1);

$default : #343434;// - Grey
$default-10 : rgba(52,52,52,0.1);
$default-20 : rgba(52,52,52,0.2);
$default-30 : rgba(52,52,52,0.3);
$default-40 : rgba(52,52,52,0.4);
$default-50 : rgba(52,52,52,0.5);
$default-60 : rgba(52,52,52,0.6);
$default-70 : rgba(52,52,52,0.7);
$default-80 : rgba(52,52,52,0.8);
$default-90 : rgba(52,52,52,0.9);
$default-100 : rgba(52,52,52,1);

$back : #0f0f0f;// - Black
$back-10 : rgba(15,15,15, 0.1);
$back-20 : rgba(15,15,15,0.2);
$back-30 : rgba(15,15,15,0.3);
$back-40 : rgba(15,15,15,0.4);
$back-50 : rgba(15,15,15,0.5);
$back-60 : rgba(15,15,15,0.6);
$back-70 : rgba(15,15,15,0.7);
$back-80 : rgba(15,15,15,0.8);
$back-90 : rgba(15,15,15,0.9);
$back-100 : rgba(15,15,15,1);

$font : #d8dde6;// Off - White
$font-10 : rgba(216,221,230,0.1);
$font-20 : rgba(216,221,230,0.2);
$font-30 : rgba(216,221,230,0.3);
$font-40 : rgba(216,221,230,0.4);
$font-50 : rgba(216,221,230,0.5);
$font-60 : rgba(216,221,230,0.6);
$font-70 : rgba(216,221,230,0.7);
$font-80 : rgba(216,221,230,0.8);
$font-90 : rgba(216,221,230,0.9);
$font-100 : rgba(216,221,230,1);

@font-face {
  font-family: stylish-font;
  src: url("./assets/fonts/LaBelleAurore-Regular.ttf"),
  }

  .stylish-font {
    font-family: stylish-font, sans-serif !important;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $back;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }